.dashboard-products img {
    width: 230pt;
}

.dashboard-products .card-header {
    text-align: center;
}

.dashboard-products .card-body {
    text-align: center;
}

.dashboard-products h4 {
    font-weight: bolder;
}
